<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetris"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_tetris"
        android:label="俄罗斯方块"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tetris.MainActivity"
            android:label="俄罗斯方块" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.tetris.MenuActivity"
            android:label="俄罗斯方块">
        </activity>
        <activity 
            android:name="com.tetris.GameActivity"
            android:label="俄罗斯方块">
        </activity>
    </application>

</manifest>